<% provide(:title, "Log in") %>
<h1>Authentification</h1>

<div class="row_user">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.submit "Se connecter", class: "btn btn-primary" %>
    <% end %>

    <p>Nouvel utilisateur? <%= link_to "Enregistrez-vous !", signup_path %></p>
  </div>
</div>
