<div class="resa-background"></div>
<div class="resa-container">
<h1 class="resa-titre text-center">Réservez la date de votre intervention à Simplon.VE</h1>
  <% @month.each do |key,list| %>
    <div class="row">  
          
      <div class="resa-nom_mois">
        <%= list[0] %>
      </div>
      
      <div class="resa-calendrier">
        <div class="resa-mois">
    
          <% a = 1; b = 1; c = 1 %>

          <div class="resa-nom_jour">
            <% @day.each do |day| %>
              <div class="resa-jour">
                <%= day %>
              </div>
            <% end %>
          </div>

          <% while a < list[3] %>
            <% if b == 1 %>
              <div class="resa-semaine">
            <% end %>
            <div class="resa-jour">
            </div>
            <% a += 1; b += 1 %>
          <% end %>

      
          <% while c <= list[2] %>
            
            <% if b == 1 || b % 7 == 1 %>
              <div class="resa-semaine">
            <% end %>
        
            <% l = sprintf '%02d', c %>
            <% @date = [] %>
            <% @intervenant.each do |idate| %>
                <% @date << idate.date.strftime("%d-%m") %>
            <% end %>
            
            <% if @date.include?("#{l}-#{key}") %>
                <div class="resa-jour resa-indispo">
                  <%= c %>
                </div>
            <% elsif key == "08" && c < 17 %>
                <div class="resa-jour resa-weekend">
                  <%= c %>
                </div>
            <% elsif b % 7 == 6 %>
                <div class="resa-jour resa-weekend">
                  <a href="/intervenants/reservation/<%= l %>-<%= key %>">
                    <%= c %>
                  </a>
                </div>
            <% elsif b % 7 == 0 %>
                 <div class="resa-jour resa-weekend">
                  <%= c %>
                </div>
            <% else %>
              <div class="resa-jour resa-dispo">
                <a href="/intervenants/reservation/<%= l %>-<%= key %>">
                  <%= c %>
                </a>
              </div>
            <% end %>
            
            <% if b % 7 == 0 %>
              </div>
            <% end %>
            
            <% b += 1; c += 1 %>
          
          <% end %>

          <% while b % 7 != 1 %>
            <div class="resa-jour">
              
            </div>
            <% b += 1 %>
          <% end %>
    
          </div>
        </div>
      </div>

      <div class="resa-texte">
        <% @intervenant.each do |i| %>
          <% if i.date.strftime("%B") == list[1] %>
            <div class="resa-info">
              <div class="resa-date">
                <%= i.date.strftime("%e %B %Y").gsub(list[1], list[0]) %>: 
              </div>
              <div class="resa-nom">
                <%= i.nom %>
                <%= i.prenom %>
              </div>
              <div class="resa-contact">
                Email: <%= i.email %>, 
                Tel: <%= i.telephone %>
              </div>
              <div class="resa-desc">
                <%= i.description %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>

    </div>
  <% end %>
</div>