<div class="label">
    <%= flash[:notice] %>
</div>
<div class="nav_blog">
<ul>
    <li><%= link_to "nouvel article", new_article_path %></li>
</ul>
</div>
<article class="container_blog">
<% @articles.reverse.each do |article| %>
  <div class="article">
    <div class="info_blog">
      <div class="day">
        <%= article.day %>
      </div>
      <div class="date_blog">
        <div class="month">
          <%= article.month %>
        </div>
        <div class="year">
          <%= article.year %>
        </div>
      </div>             
      <h1 class="title">
        <%= article.title %>
      </h1>
    </div> 
    <h3 class="subtitle">
      <%= article.subtitle %>
    </h3>
    <div class="content">
      <%= simple_format article.content %>
    </div>
    <div class="button">
      <%= link_to (image_tag('croix.svg')),article_path(article) %>
    </div>
  </div>
<% end %>
</article>
