<div class="calltoaction-button">
	<%= link_to image_tag("logosimplonve_bleu.svg", class: "polygone-bleu"), home_page_actions_path %>
	<%= link_to image_tag("logosimplonve_vert.svg", class: "polygone-vert") %>
</div>
<div class="intro_simplonve">
	<h2>Simplon.VE</h2>
  <p><%= t('calltoaction').html_safe %></p>
</div>
<div class="promo2">
	<h2>Promo 2</h2>
	<p><%= t('promo2').html_safe %></p>	
</div>
<div class="promo2_image">
	<%= link_to image_tag("promo2.jpg", class: "promo2_img"), "http://simplon.co/je-candidate/", :target => "_blank" %>
</div>