<div class="container_logo">
	<div class="logo">
		<%= image_tag("logo_conseil_ardeche2.svg", class: "grayscale style_logo taille") %>
		<%= image_tag("logo_region_RA2.svg", class: "grayscale style_logo taille") %>
		<%= image_tag("logo_VE.jpg", class: "grayscale style_logo taille") %>
		<%= image_tag("Ville_le_Cheylard.png", class: "grayscale style_logo taille") %>
	</div>
	<div class="logo">
		<%= image_tag("logo_AGEFOS.jpg", class: "grayscale style_logo taille taille_mediaquery") %>
		<%= image_tag("logo_inforoutes.jpg", class: "grayscale style_logo taille") %>
		<%= image_tag("logo_fond_paritaire.jpg", class: "grayscale style_logo taille") %>
		<%= image_tag("Logo_Pole_Emploi.png", class: "grayscale style_logo taille") %>
	</div>
</div>
	
