<div class="container_logo">
	<div class="logo">
		<%= image_tag("logo_conseil_ardeche2.svg", class: "grayscale") %>
		<%= image_tag("logo_region_RA2.svg", class: "grayscale") %>
		<%= image_tag("logo_VE.jpg", class: "grayscale") %>
		<%= image_tag("logo_fond_paritaire.jpg", class: "grayscale") %>		
	</div>
	<div class="logo">
		<%= image_tag("logo_inforoutes.jpg", class: "grayscale") %>
		<%= image_tag("logo_AGEFOS.jpg", class: "grayscale") %>
		<%= image_tag("Logo_Pole_Emploi.png", class: "grayscale") %>
	</div>
</div>
<div class="container_logo">
	<div class="logo">
		<%= image_tag("logo_inforoutes.png", class: "grayscale") %>
		<%= image_tag("logo_fond_paritaire.jpg", class: "grayscale") %>
		<%= image_tag("Ville_le_Cheylard.png", class: "grayscale") %>
	</div>
</div>		
