<%= image_tag('photo-accueillight.jpg', class: "fond-ecran")%>
<div class="introduction">
	<%= render "home/calltoaction" %>
	<%= render "home/citation" %>  
	<%= render "home/simploniens" %>  
</div>
<%= image_tag('photo-accueil2light.jpg', class: "fond-ecran2")%>
<%= render "home/financeurs" %>
<%= render "home/presse" %>