<%= image_tag('photo-accueil2light.jpg', class: "fond-ecran")%>
<div class="introduction">
	<%= render "home/calltoaction" %>
	<%= render "home/chiffres_cles" %>
  	<%= render "home/simploniens" %>
	<%= render "home/citation" %>
</div>
<%= render "home/financeurs" %>
<%= render "home/presse" %>