<div class = "page_action">
	<%= image_tag('simploniens.jpg', class: "fond-ecrangp")%>
	<div class="texte_page_action">
		<h2 class="titre_page_action">
			<%= t('planete_origine_titre').html_safe %>
		</h2>
  	<%= t('planete_origine').html_safe %>
	</div>
	<div class="texte_page_action">
		<h2 class="titre_page_action"> 
		  <%= t('planete_intervenants_titre').html_safe %>
		</h2>
	  <%= t('planete_intervenants').html_safe %>
	</div>

	<div class="texte_page_action">
		<h2 class="titre_page_action">
			<%= t('planete_besoin_titre').html_safe %>
		</h2>
  	<%= t('planete_besoin').html_safe %>
	</div>
		
	<div class="texte_page_action">
		<h2 class="titre_page_action">
			<%= t('planete_ess_titre').html_safe %>
		</h2>
		<%= t('planete_ess').html_safe %>
	</div>

	<div class="bloc_logos">
		<div class="logo">
			<%= image_tag("html-5.svg", class: "grayscale style_logo taille2") %>
			<%= image_tag("css-3.svg", class: "grayscale style_logo taille2") %>
			<%= image_tag("jquery.svg", class: "grayscale style_logo taille2") %>	
			<%= image_tag("javascript.svg", class: "grayscale style_logo taille2") %>
			<%= image_tag("nodejs-icon.svg", class: "grayscale style_logo taille2") %>
		</div>
		<div class="logo">
			<%= image_tag("ruby.svg", class: "grayscale style_logo taille2") %>
			<%= image_tag("rails.svg", class: "grayscale style_logo taille2") %>
			<%= image_tag("sinatra.svg", class: "grayscale style_logo taille2") %>
			<%= image_tag("python.svg", class: "grayscale style_logo taille2") %>
			<%= image_tag("flask.svg", class: "grayscale style_logo taille2") %>		
		</div>
		<div class="logo">
			<%= image_tag("java.svg", class: "grayscale style_logo taille2") %>
			<%= image_tag("heroku.svg", class: "grayscale style_logo taille2") %>
			<%= image_tag("postgresql.svg", class: "grayscale style_logo taille2") %>	
			<%= image_tag("mysql.svg", class: "grayscale style_logo taille2") %>
			<%= image_tag("wordpress-icon.svg", class: "grayscale style_logo taille2") %>
		</div>
		<div class="logo">
			<%= image_tag("bootstrap.svg", class: "grayscale style_logo taille2") %>
			<%= image_tag("django.svg", class: "grayscale style_logo taille2") %>
			<%= image_tag("angular-icon.svg", class: "grayscale style_logo taille2") %>
			<%= image_tag("php.svg", class: "grayscale style_logo taille2") %>	
			<%= image_tag("meteor.svg", class: "grayscale style_logo taille2") %>
			
		</div>
		<div class="logo logo3">
			<%= image_tag("slack.svg", class: "grayscale style_logo taille2") %>
			<%= image_tag("github-icon.svg", class: "grayscale style_logo taille2") %>
			<%= image_tag("trello.svg", class: "grayscale style_logo taille2") %>	
			<%= image_tag("mailchimp-freddie.svg", class: "grayscale style_logo taille2") %>
			<%= image_tag("nginx.svg", class: "grayscale style_logo taille2") %>
		</div>
	</div>
</div>