<div class = "page_action">
	<%= image_tag('simploniens.jpg', class: "fond-ecrangp")%>
	<div class="texte_page_action">
		<h2 class="titre_page_action">
			<%= t('planete_origine_titre').html_safe %>
		</h2>
  	<%= t('planete_origine').html_safe %>
	</div>
	<div class="texte_page_action">
		<h2 class="titre_page_action"> 
		  <%= t('planete_intervenants_titre').html_safe %>
		</h2>
	  <%= t('planete_intervenants').html_safe %>
	</div>
	<div class="texte_page_action">
		<h2 class="titre_page_action">
			<%= t('planete_besoin_titre').html_safe %>
		</h2>
  	<%= t('planete_besoin').html_safe %>
	</div>
	<%= image_tag('logo_logiciels.png', class: 'fond-ecrangp')%>
	<div class="texte_page_action">
		<h2 class="titre_page_action">
			<%= t('planete_ess_titre').html_safe %>
		</h2>
		<%= t('planete_ess').html_safe %>
	</div>
</div>