<%= image_tag('simploniens.jpg', class: "fond-ecran")%>
<div class = "page_action">
	<div class="texte_page_action">
		<h2 class="titre_page_action">
			<%= t('planete_origine_titre').html_safe %>
		</h2>
  	<%= t('planete_origine').html_safe %>
	</div>
	<div class="texte_page_action">
		<h2 class="titre_page_action"> 
		  <%= t('planete_intervenants_titre').html_safe %>
		</h2>
	  <%= t('planete_intervenants').html_safe %>
	  <%= link_to "Beaucoup sont déjà passés, il ne manque plus que vous !", intervenants_path %>
	</div>

	<div class="texte_page_action">
		<h2 class="titre_page_action">
			<%= t('planete_besoin_titre').html_safe %>
		</h2>
  	<%= t('planete_besoin').html_safe %>
	</div>
		
	<div class="texte_page_action">
		<h2 class="titre_page_action">
			<%= t('planete_ess_titre').html_safe %>
		</h2>
		<%= t('planete_ess').html_safe %>
	</div>

	<div class="texte_page_action">
		<h2 class="titre_page_action">
			<%= t('planete_tech_titre').html_safe %>
		</h2>
		<%= t('planete_tech').html_safe %>
	</div>

	<div class="bloc_logos">
		<div class="logo">
			<%= image_tag("logos/html-5.svg", class: "grayscale style_logo taille2") %>
			<%= image_tag("logos/css-3.svg", class: "grayscale style_logo taille2") %>
			<%= image_tag("logos/jquery.svg", class: "grayscale style_logo taille2") %>	
			<%= image_tag("logos/javascript.svg", class: "grayscale style_logo taille2") %>
			<%= image_tag("logos/nodejs-icon.svg", class: "grayscale style_logo taille2") %>
		</div>
		<div class="logo">
			<%= image_tag("logos/rails.svg", class: "grayscale style_logo taille2") %>
			<%= image_tag("logos/sinatra.svg", class: "grayscale style_logo taille2") %>
			<%= image_tag("logos/python.svg", class: "grayscale style_logo taille2") %>
		</div>
		<div class="logo">
			<%= image_tag("logos/heroku.svg", class: "grayscale style_logo taille2") %>
			<%= image_tag("logos/postgresql.svg", class: "grayscale style_logo taille2") %>	
			<%= image_tag("logos/mysql.svg", class: "grayscale style_logo taille2") %>
			<%= image_tag("logos/wordpress-icon.svg", class: "grayscale style_logo taille2") %>
		</div>
		<div class="logo">
			<%= image_tag("logos/bootstrap.svg", class: "grayscale style_logo taille2") %>
			<%= image_tag("logos/django.svg", class: "grayscale style_logo taille2") %>
			<%= image_tag("logos/angular-icon.svg", class: "grayscale style_logo taille2") %>
			
		</div>
		<div class="logo logo3">
			<%= image_tag("logos/git.svg", class: "grayscale style_logo taille2") %>
			<%= image_tag("logos/nginx.svg", class: "grayscale style_logo taille2") %>
		</div>
	</div>
</div>