%h2 PROMO #1
.container
  -@simploniens.each do |simplonien|
    .profile
      .profile-name=simplonien.name
      .profile-job=simplonien.title
      .skills
        -simplonien.tags_to_array.each do |tag|
          .skill=tag
      .profile-photo
        =image_tag("#{simplonien.image_path}")
      .profile-description=simplonien.desc
      .profile-social
        %i.fa.fa-envelope-o= link_to '', simplonien.email
        %i.fa.fa-linkedin= link_to '', simplonien.linkedin
        %i.fa.fa-github= link_to '', simplonien.github
        %i.fa.fa-twitter= link_to '', simplonien.twitter
