<!DOCTYPE html>
<html>
<head>
  <title>Site Officiel SimplonVE</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width">
</head>
<body>
  <%= render "layouts/nav" %>
  <div class="main-content">
  <%= yield %>
  </div>
  <%= render "home/financeurs" %>
  <%= render "layouts/footer" %>
</body>
</html>
